* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul {
    padding: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: black;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    padding: 40px;
    font-family: sans-serif;
}

header div h1 {
    margin-bottom: 20px
}

footer {
    background: black;
    color: white;
    padding: 40px;
    text-align: center
}

footer p {
    font-family: sans-serif;
}

footer div {
    margin-top: 30px;
}

footer div a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

@media screen and (max-width: 700px) {
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin-bottom: 20px;
        text-align: center
    }
    header {
        flex-direction: column;
        text-align: center;
    }
    .code-img {
        margin-top: 40px
    }
}

@media screen and (max-width: 370px) {
    nav ul li a {
        font-size: 10px
    }
    header div h1 {
        font-size: 20px
    }
    header div p {
        font-size: 10px;
    }
    .code-img {
        width: 100%
    }
    header,
    footer,
    nav ul {
        padding: 10px;
    }
    footer p {
        font-size: 12px;
    }
    footer div a {
        font-size: 10px;
    }
}

@media screen and (max-width: 800px) and (min-width: 500px) {
    body {
        background: blue;
    }
}